BODY {
  background-color: #FFD8D8;
}

#error {
    font-size: 14pt;
    background-color: #FFC0C0;
    text-align: center;
    width: 700px;
    /*  height: 300px;  */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #FF0000;
}

#error H1 {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 10px;
}
#error H1.warning {
    color: red;
}
