#login {
    font-size: 14pt;
    background-color: #BFDFAE;
    text-align: center;
    width: 700px;
    /*  height: 300px;  */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #008000;
}

#login H1 {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 10px;
}

#login TABLE {
    border: none;
    margin-left: auto;
    margin-right: auto;
}

#login TD.left {
    text-align: left;
}

#login TD.right {
    text-align: right;
}

#login HR {
    width: 100%;
    height: 2px;
    border: none;
    background-color: black;
}

#login INPUT {
    padding: 3px;
    margin: 2px;
    font-size: 13pt;
    background-color: #DFFFCE;
    border: 1px solid #008000;
}

#login INPUT.enter {
    font-size: 16pt;
    background-color: #80FF80;
}

#login INPUT.enter:hover {
    background-color: #00FF00;
}

#login TD.error {
    font-size: 16pt;
    font-weight: bold;
    background-color: #FFBBBB;
    border: 2px solid red;
}
