<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<HTML>
<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=utf8">
    <META http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <META http-equiv="Pragma" content="no-cache">
    <META http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
    <LINK rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    {{#if reload}}
        <META http-equiv="Refresh" content="{{reload}}">
    {{/if}}
    <LINK type="text/css" rel="stylesheet" href="/static/css/style.css">
    {{#if css}}
        <LINK type="text/css" rel="stylesheet" href="/static/css/{{css}}.css">
    {{/if}}
    <LINK type="text/css" rel="stylesheet" href="/static/css/print.css" media="print">
    {{#if script}}
        <SCRIPT type="text/javascript" src="/static/script/{{script}}.js"></SCRIPT>
    {{/if}}
    <title>АИС 'Референдум - 2022'{{#if title}} :: {{title}}{{/if}}</title>
</HEAD>
<BODY>
<NOSCRIPT>
    Для корректного отображения страницы необходимо включить поддержку JavaScript!
</NOSCRIPT>